# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Adora/x64/Debug/Adora.pdb
Adora/x64/Debug/Adora.ilk
Adora/Adora/x64/Release/Adora.tlog/link.write.1.tlog
Adora/Adora/x64/Release/Adora.tlog/link.read.1.tlog
Adora/Adora/x64/Release/Adora.tlog/link.command.1.tlog
Adora/Adora/x64/Release/Adora.tlog/custombuild.write.1.tlog
Adora/Adora/x64/Release/Adora.tlog/custombuild.read.1.tlog
Adora/Adora/x64/Release/Adora.tlog/custombuild.command.1.tlog
Adora/Adora/x64/Release/Adora.tlog/CL.write.1.tlog
Adora/Adora/x64/Release/Adora.tlog/CL.read.1.tlog
Adora/Adora/x64/Release/Adora.tlog/CL.command.1.tlog
Adora/Adora/x64/Release/Adora.tlog/Adora.lastbuildstate
Adora/Adora/x64/Release/Adora.log
Adora/Adora/x64/Debug/vc140.pdb
Adora/Adora/x64/Debug/Adora.tlog/rc.write.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/rc.read.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/rc.command.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/link.write.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/link.read.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/link.command.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/custombuild.write.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/custombuild.read.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/custombuild.command.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/CL.write.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/CL.read.1.tlog
Adora/Adora/x64/Debug/Adora.tlog/CL.command.1.tlog
Adora/Adora/x64/Debug/Adora.log
Adora/Adora/x64/Debug/Adora.Build.CppClean.log
Adora/Adora/memory_leak_report.txt
Adora/Adora/GeneratedFiles/ui_WritingSettingWidget.h
Adora/Adora/GeneratedFiles/ui_WritingPanel.h
Adora/Adora/GeneratedFiles/ui_VideoSettingWidget.h
Adora/Adora/GeneratedFiles/ui_UnredoPanel.h
Adora/Adora/GeneratedFiles/ui_TimeLimitSettingWidget.h
Adora/Adora/GeneratedFiles/ui_SoundPanel.h
Adora/Adora/GeneratedFiles/ui_RecordPanel.h
Adora/Adora/GeneratedFiles/ui_LicenseWidget.h
Adora/Adora/GeneratedFiles/ui_LanguageSettingWidget.h
Adora/Adora/GeneratedFiles/ui_ImageSettingWidget.h
Adora/Adora/GeneratedFiles/ui_GeneralSettingWidget.h
Adora/Adora/GeneratedFiles/ui_FigurePopupWidget.h
Adora/Adora/GeneratedFiles/ui_ControllerWidget.h
Adora/Adora/GeneratedFiles/ui_AudioSettingWidget.h
Adora/Adora/GeneratedFiles/ui_AdoraFrameWidget.h
Adora/Adora/GeneratedFiles/ui_Adora.h
Adora/Adora/GeneratedFiles/ui_AboutWidget.h
Adora/Adora/GeneratedFiles/Release/moc_WatermarkSettingWidget.cpp
Adora/Adora/GeneratedFiles/Release/moc_VideoSettingWidget.cpp
Adora/Adora/GeneratedFiles/Release/moc_VideoRecorder.cpp
Adora/Adora/GeneratedFiles/Release/moc_VideoCaptureSource.cpp
Adora/Adora/GeneratedFiles/Release/moc_TimeLimitSettingWidget.cpp
Adora/Adora/GeneratedFiles/Release/moc_TimeCounter.cpp
Adora/Adora/GeneratedFiles/Release/moc_RecordVideoDialog.cpp
Adora/Adora/GeneratedFiles/Release/moc_LanguageSettingWidget.cpp
Adora/Adora/GeneratedFiles/Release/moc_HotkeyLineEdit.cpp
Adora/Adora/GeneratedFiles/Release/moc_GeneralSettingWidget.cpp
Adora/Adora/GeneratedFiles/Release/moc_FigurePopupWidget.cpp
Adora/Adora/GeneratedFiles/Release/moc_AudioCaptureSource.cpp
Adora/Adora/GeneratedFiles/Release/moc_AdoraFrameWidget.cpp
Adora/Adora/GeneratedFiles/Release/moc_Adora.cpp
Adora/Adora/GeneratedFiles/Release/moc_AbstractSlider.cpp
Adora/Adora/GeneratedFiles/Release/moc_AbstractButton.cpp
Adora/Adora/GeneratedFiles/qrc_Adora.cpp
Adora/Adora/GeneratedFiles/Debug/moc_VideoSettingWidget.cpp
Adora/Adora/GeneratedFiles/Debug/moc_RecordVideoDialog.cpp
Adora/Adora/GeneratedFiles/Debug/moc_HotkeyLineEdit.cpp
Adora/Adora/GeneratedFiles/Debug/moc_FigurePopupWidget.cpp
Adora/Adora/GeneratedFiles/Debug/moc_Adora.cpp
Adora/Adora/GeneratedFiles/Debug/moc_AbstractSlider.cpp
Adora/Adora.VC.VC.opendb
Adora/Adora.VC.db
Adora/.vs/Adora/v14/.suo
