# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Adora/x64/Debug/Adora.pdb
Adora/x64/Debug/Adora.ilk
Adora/Adora/x64/Release/
Adora/Adora/x64/Debug/
Adora/x64/
Adora/Adora/memory_leak_report.txt
Adora/Adora/GeneratedFiles/
Adora/Adora.VC.VC.opendb
Adora/Adora.VC.db
Adora/.vs/Adora/v14/.suo
